# Ignore the GML file
bdline_gml3_gb/Data/INSPIRE_AdministrativeUnit.gml
/Users/supriyarai/Code/ge-o_map/Map_JSON/1. Usual_Resident_Population_By_Age_and_Sex.json
/Users/supriyarai/Code/ge-o_map/Map_JSON/2. Population_by_Age_and_by_Sex.json
/Users/supriyarai/Code/ge-o_map/Map_JSON/3. Age_by_Single_Year.json
/Users/supriyarai/Code/ge-o_map/Scotland_Census-2022-Output-Area-Full/UV202b National Identity by Sex and Age (Full Geo).csv
/Users/supriyarai/Code/ge-o_map/Map_JSON/13. National_Identity_by_Sex_and_Age.json
Boundaries_JSON/
static/epsg27700_boundaries.json
/Users/supriyarai/Code/ge-o_map/westminster-parliamentary-constituencies.csv
/Users/supriyarai/Code/ge-o_map/westminster-parliamentary-constituencies.geojson

Map_JSON/*.json
